<h2>Compare Team</h2>
<form>
    <div class="row">
        <div class="col col-sm-6">
            <div class="form-group">
                <label for="team1select">Team 1:</label>
                <select ng-change="getTeam1Data()" class="form-control" name="team1Select" id="team1select" ng-model="team1">
                    <option ng-repeat="team in allTeams" value="{{team.name}}">{{team.name}}</option>
                </select>
            </div>
           
        </div>
        <div class="col col-sm-6">
            <div class="form-group">
                <label for="team2select">Team 2:</label>
                <select ng-change="getTeam2Data()" class="form-control" name="team2Select" id="team2select" ng-model="team2">
                    <option ng-repeat="team in allTeams" value="{{team.name}}">{{team.name}}</option>
                </select>
            </div>

            
        </div>

    </div>
    <div class="row" ng-repeat="row in rows">
        <div class="col col-sm-5 circle-container">
            <compare-data data-title="{{row.name}}" data-css="{{row.getStatClass().team1}}" data-content="{{row.left}}" data-vs="{{row.right}}"></compare-data>
        </div>
        <div class="col col-sm-2 circle-container">
        {{row.name}}
        </div>
        <div class="col col-sm-5 circle-container">
            <compare-data data-title="{{row.name}}" data-css="{{row.getStatClass().team2}}" data-content="{{row.right}}" data-vs="{{row.left}}"></compare-data>
        </div>

    </div>
    

    
</form>
