<div class="jumbotron text-center">
    <a href="/standings"><h1>Road To Timmins</h1>
</div></a>
<div class="row">
    <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/standings/Western" class="list-group-item active">Western</a>
            <a ng-class="team.provincial ? 'provincial':''" data-ng-repeat="team in westTeams | orderBy:'name'" href="/team/{{team.name}}" class="list-group-item">{{team.name}}</a>
        </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/standings/Central" class="list-group-item active">Central</a>
            <a ng-class="team.provincial ? 'provincial':''" data-ng-repeat="team in centralTeams | orderBy:'name'" href="/team/{{team.name}}" class="list-group-item">{{team.name}}</a>
        </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/standings/Eastern" class="list-group-item active">Eastern</a>
            <a ng-class="team.provincial ? 'provincial':''" data-ng-repeat="team in eastTeams | orderBy:'name'" href="/team/{{team.name}}" class="list-group-item">{{team.name}}</a>
        </div>
    </div>

</div>
<div class="row">

    <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/standings/Southern" class="list-group-item active">Southern</a>
            <a ng-class="team.provincial ? 'provincial':''" data-ng-repeat="team in southTeams | orderBy:'name'" href="/team/{{team.name}}" class="list-group-item">{{team.name}}</a>
        </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/standings/North East" class="list-group-item active">North East</a>
            <a ng-class="team.provincial ? 'provincial':''" data-ng-repeat="team in northEastTeams | orderBy:'name'" href="/team/{{team.name}}" class="list-group-item">{{team.name}}</a>
        </div>
    </div>
</div>
