
<div class="row">

<div class="checkbox">
        <label>
            <input ng-model="showAll" type="checkbox" id="provincial">Show Only Provincial Teams</label>
    </div>
  
</div>
<h2>Power Rankings</h2>
<div class="row">
    <table class="table standingstable">
        <thead>
            <tr>
                <th class="centerText">
                    <span style='font-size: 1.25em'>Team</span>
                </th>
                <th class="centerText">
                    <span style='font-size: 1.25em'>Team</span>
                </th>
                <th class="centerText">
                    <span style='font-size: 1.25em'>Rating</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{provincial: team.provincial}" ng-show="!showAll || team.provincial" ng-repeat="team in rankings | orderBy:'rating':true">
                <td style='font-size: 1.25em' class="centerText">{{$index + 1}}</td>
                <td style='font-size: 1.25em'><a ng-href="/team/{{team.team}}">{{team.team}}</a></td>
                <td style='font-size: 1.25em' class="centerText">{{team.rating}}</td>
            </tr>
        </tbody>
    </table>
</div>
