<table class="table standingstable">
    <tr>
        <th class="centerText">
            Team
            <span class="sortorder" ng-click="order('team')" ng-class="{reverse:reverse}"></span></th>
        <th class="centerText">
            Games
            <span class="sortorder" ng-click="order('games')" ng-class="{reverse:reverse}"></span></th>
        <th class="centerText">Record</th>
        <th class="centerText">
            Points
            <span class="sortorder" ng-click="order('points')" ng-class="{reverse:reverse}"></span></th>
        <th class="centerText">
            Win %
            <span class="sortorder" ng-click="order('winPct')" ng-class="{reverse:reverse}"></span></th>
        <th class="centerText">
            Opp Win %
            <span class="sortorder" ng-click="order('oppWinPct')" ng-class="{reverse:reverse}"></span></th>
        <th class="centerText">
            +/-
            <span class="sortorder" ng-click="order('diff')" ng-class="{reverse:reverse}"></span></th>
    </tr>
    <tr ng-repeat="team in standings | orderBy:predicate:reverse" ng-class="{missed: $index > 13 && predicate === 'points' && reverse === true}">
        <td><a ng-href="/team/{{team.team}}">{{team.team}}</a></td>
        <td class="centerText">{{team.games}}</td>
        <td class="centerText">{{team.win}} - {{team.loss}} - {{team.tie}}</td>
        <td class="centerText">{{team.points}}</td>
        <td class="centerText">{{team.winPct}}</td>
        <td class="centerText">{{team.oppWinPct}}</td>
        <td class="centerText">{{team.diff}}</td>
    </tr>
</table>
<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
</canvas>
