<div class="row">
    <div class="jumbotron text-center">
        <h1>{{teamId}}</h1>
        <h3>Tournament</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Record" data-content="{{ games.record.win }} - {{ games.record.loss }} - {{ games.record.tie }} ({{winPct}})"></game-container>
            </div>
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Opponents Record" data-content="{{ games.opponentRecord.win }} - {{ games.opponentRecord.loss }} - {{ games.opponentRecord.tie }} ({{oppWinPct}})"></game-container>
            </div>
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Goals For" data-content="{{games.record.for}}"></game-container>
            </div>
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Goals Against" data-content="{{games.record.against}}"></game-container>
            </div>
        </div>
        <h3>Regular Season</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Record" data-content="{{ games.regularSeasonRecord.win }} - {{ games.regularSeasonRecord.loss }} - {{ games.regularSeasonRecord.tie }}"></game-container>
            </div>
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Goals For" data-content="{{games.regularSeasonRecord.for}}"></game-container>
            </div>
            <div class="col-xs-6 col-md-3">
                <game-container data-title="Goals Against" data-content="{{games.regularSeasonRecord.against}}"></game-container>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Regular Season Winning Percentage</h2>
        <canvas id="line" class="chart chart-line" chart-options="options" chart-legend="false" chart-data="data" chart-labels="labels" chart-legend="'false'" chart-series="series" chart-options="options" chart-click="onClick">
        </canvas>
    </div>
    <div class="col-md-3 col-sm-6">
        <h2>Goals For</h2>
        <canvas id="bar" height="250px" class="chart chart-bar" chart-data="statsForData" chart-labels="statsForLabels" chart-series="statsForSeries" chart-options="statsForOptions" chart-colours="statsForColors">
        </canvas>
    </div>
    <div class="col-md-3 col-sm-6">
        <h2>Goals Against</h2>
        <canvas id="bar" height="250px" class="chart chart-bar" chart-data="statsAgainstData" chart-labels="statsAgainstLabels" chart-series="statsAgainstSeries" chart-options="statsAgainstOptions" chart-colours="statsAgainstColors">
        </canvas>
    </div>
</div>
<br/>
<div class="row">
    <h2>vs Teams</h2>
    <div class="scrollable-table">
    <table class="table table-striped table-header-rotated">
        <thead>
            <tr>
                <th></th>
                <th class="rotate-45" ng-repeat="game in vsMatrix">
                    <div><span>{{game.name}}</span></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row-header">Record</td>
                <td nowrap ng-class="game1.class()" class="centerText" ng-repeat="game1 in vsMatrix">{{game1.getRecord()}}</td>
            </tr>
            <tr>
                <td class="row-header">For</td>
                <td class="centerText" ng-repeat="game1 in vsMatrix">{{game1.for}}</td>
            </tr>
            <tr>
                <td class="row-header">Against</td>
                <td class="centerText" ng-repeat="game1 in vsMatrix">{{game1.against}}</td>
            </tr>
            <tr>
                <td class="row-header">+/-</td>
                <td class="centerText" ng-repeat="game1 in vsMatrix">{{game1.diff()}}</td>
            </tr>
            
        </tbody>
    </table>
    </div>
</div>
<div class="row">
    <h2>Regular Season Played</h2>
    <table class="table table-striped  gametable">
    <thead>
        <tr>
            <th style="width: 20%; font-size 1.25em">Date</th>
            <th style="width: 40%; font-size: 1.25em">Home</th>
            <th style="width: 10%" style='font-size: 1.25em'></th>
            <th style="width: 40%; font-size: 1.25em">Visitor</th>
            <th style="width: 10%" style='font-size: 1.25em'></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in games.regularSeason">
            <td <style="width: 20%; font-size: 1.25em" ng-bind="game.gameDate | date:'MMM dd yyyy'"></td>
            <td style="width: 30%"><a style='font-size: 1.25em' ng-href="/team/{{game.home}}">{{game.home}}</a></td>
            <td style="width: 10%" style='font-size: 1.25em'>{{game.homeScore}}</td>
            <td style="width: 30%"><a style='font-size: 1.25em' ng-href="/team/{{game.visitor}}">{{game.visitor}}</a></td>
            <td style="width: 10%" style='font-size: 1.25em'>{{game.visitorScore}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br/>
<div class="row">
    <h2>Tournament Games Played</h2>
    <table class="table table-striped gametable">
    <thead>
        <tr>
            <th style="width: 20%; font-size 1.25em">Date</th>
            <th style="width: 20%; font-size: 1.25em">Tournament</th>
            
            <th style="width: 30%; font-size: 1.25em">Home</th>
            <th style="width: 10%" style='font-size: 1.25em'></th>
            <th style="width: 30%; font-size: 1.25em">Visitor</th>
            <th style="width: 10%" style='font-size: 1.25em'></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="game.isPlayoff ? 'provincial-playoff' : ''" ng-repeat="game in games.games">
            
            <td <style="width: 20%; font-size: 1.25em" ng-bind="game.gameDate | date:'MMM dd yyyy'"></td>
            <td style="width: 20%; font-size: 1.25em">{{game.tournament}}</td>
            <td style="width: 25%"><a style='font-size: 1.25em' ng-href="/team/{{game.home}}">{{game.home}}</a></td>
            <td style="width: 10%" style='font-size: 1.25em'>{{game.homeScore}}</td>
            <td style="width: 25%"><a style='font-size: 1.25em' ng-href="/team/{{game.visitor}}">{{game.visitor}}</a></td>
            <td style="width: 10%" style='font-size: 1.25em'>{{game.visitorScore}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br/>

