.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.centerText {
    text-align: center;
}

.missed {
    background-color: #FFCCFF
}

.provincial {
	background-color: #f0f8ff;
}

.qualified {
	background-color: #CCFFCC;
}
